// Color variables
$primary   : #4b95d2;
$secondary : #dbdcdf;
$danger    : #e84950;
$dark      : #303c49;

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

// Global variables 

:root {
    --topbar-height    : 8rem;
    --bottombar-height : 11rem;
}

html, body {
    height      : 100%;
    width       : 100%;
    font-family : 'Open Sans', sans-serif;
    font-size   : 16px;
    overflow    : hidden;
}
